* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    height: 100vh;
    width: 100vw;
}

.active {
    font-weight: bolder;
    background-color: white !important;
    color: #212529 !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.nav-tabs li button:hover {
    border-color:  rgba(0, 0, 0, 0) !important;   
}

.side-navbar {
    z-index: 10;
    border-right: 1px solid #b9b9b9;
}
.nav-logo-name {
    display: block;
}
.nav-logo-name .nav-logo {
    cursor: default;
}


.home-page .title {
    font-family: 'Lora', serif;
    padding: 30px 15px 40px 15px;
    line-height: normal;
}

.animate-current-page {
    animation: fadeIn .5s linear;
}

@media screen and (max-width: 768px) {
    .hamburger {
        position: fixed;
        top: 2%;
        left: 5%;
        z-index: 10;
        cursor: pointer;
    }
    .line {
        width: 30px;
        height: 3px;
        background: lightskyblue;
        margin: 5px;
        transition: all .5s ease 0.5s;
    }
    .mobile-header-logo {
        position: static;
        display: block !important;
        margin: 0 auto;
        z-index: 3;
        line-height: 1.3;
        font-weight: normal;
    }

    .side-navbar {
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 2;
        height: 100vh;
        width: 50%;
        background: white;
        padding: 50px 0px 0px 0px !important;
        transform: translateX(-120%);
        transition: transform 0.5s ease-in;
    }
    .side-navbar .nav-tabs li{
        opacity: 0;
    }
    .nav-logo-name {
        display: none;
    }


    .nav-tabs .nav-item {
        margin-top: 20px;
    }
    .nav-tabs .nav-item button {
        font-size: 25px;
    }
    .tab-content {
        z-index: 1;
    }

    .tab-pane {
        padding: 0 !important;
    }


    .carousel-container {
        margin: 0 auto;
        width: 110% !important;
        height: 500px;
        overflow: hidden;
    }
}

.nav-active {
    z-index: 5;
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle-burger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-burger .line2 {
    opacity: 0;
}
.toggle-burger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);   
}

.burger-animation {
    animation: burgerAnimateOpen 1.8s ease;
}

@keyframes burgerAnimateOpen {
    0% {
        opacity: 1;
        transform: translate(0px);
    }
    10% {
        opacity: 0;
        transform: translate(0px);
    }
    15% {
        opacity: 0;
        transform: translate(-50px)
    }
    100% {
        opacity: 1;
    }
}

.blur-background {
   filter: brightness(50%);
   animation: blurBackground 1s ease;
}

@keyframes blurBackground {
    to {
        filter: brightness(50%);
    }
    from {
        filter: brightness(100%);
    }
}


.tab-content .tab-pane {
    padding-left: 180px;
}


.collections-selector-content img {
    filter: brightness(45%);
    transition: all 1s ease;
    overflow: hidden;
    cursor: pointer;
    z-index: 4;
}
.collections-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lora', serif;
    font-size: 70px;
    color: white;
    text-shadow: 0 1px 0 rgb(75, 75, 75);
    cursor: pointer;
    z-index: 5;
}
@media screen and (max-width: 1300px) {
    .collections-title {
        font-size: 50px;
    }
}

.collections-selector-content img:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

.collections-selector-content .collections-title:hover + img {
    filter: brightness(100%);
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .collections-title {
        font-size: 40px;
    }
    #return-to-collections-btns #return-text {
        display: none;
    }
    #return-to-collections-btns #return-arrow {
        line-height: 1;
        margin-top: 5px;
    }
}


/* Collections photos */
#return-to-collections-btns {
    font-weight: lighter;
    font-size: 45px;
    cursor: pointer;
    left: 0; 
    right: 400px;
    margin: 0 auto;
    width: 100px;
    overflow: hidden;
    text-align: center;
}
#return-to-collections-btns div {
    height: 45px;
}
#return-to-collections-btns #return-text {
    opacity: 0;
    transition: opacity .5s;
    height: 20px;
    overflow: hidden;
}
#return-to-collections-btns:hover  #return-text {
    opacity: 1;
}
#return-to-collections-btns:hover {
    color: black !important;
}





.collections-album-title {
    font-size: 50px;
    font-weight: normal;
}
@media screen and (max-width: 768px) {
    .collections-album-title {
        font-size: 35px;
    }
}
.photo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.photo-container .row {
    width: 90%;
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.photo-container .row .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.photo-container .row .column img {
    margin-top: 8px;
    vertical-align: middle;
}

.collection-image, .all-photos-image {
    cursor: pointer;
}



/* Collections images carousel */
#exit-collections-carousel-btn, #exit-all-photos-carousel-btn{
    position: absolute;
    top: 0;
    right: 25px;
    color: rgb(192, 192, 192);
    font-size: 35px;
    font-weight: lighter;
    cursor: pointer;
    z-index: 20;
}
#exit-collections-carousel-btn:hover, #exit-all-photos-carousel-btn:hover {
    color: white;
}


.collections-carousel-wrapper, .all-photos-carousel-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 10;
}

.collections-carousel, .all-photos-carousel{
    background: rgb(17, 17, 17);
    height: 95%;
    width: 95%;
}
.collections-carousel #collections-carousel-controls, .all-photos-carousel #all-photos-carousel-controls {
    width: 95%;
}

#collections-carousel-controls .carousel-inner .active, #all-photos-carousel-controls .carousel-inner .active {
    background: rgba(0, 0, 0, 0) !important;
}

.collections-carousel-item, .all-photos-carousel-item {
    height: 100%;
}
.collections-carousel-item img, .all-photos-carousel-item img {
    background: rgb(17, 17, 17);
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 825px;
}

@media screen and (max-width: 768px) {
    .collections-carousel-wrapper, .all-photos-carousel-wrapper {
        display: fixed;
        background: rgba(0, 0, 0, .95);
        height: 100vh;
        width: 100vw;
    }
    .collections-carousel, .all-photos-carousel{
        background: rgba(0, 0, 0, 0);
        height: 95%;
        width: 95%;
    }
    .collections-carousel-item img, .all-photos-carousel-item img {
        max-width: 100%;
    }
    /* Collections images carousel */
    #exit-collections-carousel-btn, #exit-all-photos-carousel-btn{
        position: fixed;
        top: -12px;
        font-size: 55px;
    }
}





/* About page */

.about-title {
    font-size: 50px;
    font-weight: normal;
}

.about-card-text {
    font-size: 22px;
}

.about-page-contact-text {
    font-size: 18px;
    font-weight: light !important;
    color: rgb(65, 65, 65);
    line-height: 1.7;
}
.about-page-contact-btn {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    width: 180px;
    height: 50px;
    border: none;
    color: rgb(54, 54, 54);
    background: #bbbbbb;
    border-radius: 4px;
    font-size: 22px;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
}
.about-page-contact-btn-border {
    border: 2px solid;
    border-image-source: linear-gradient(45deg, #ffc0cb, #b19cd9, #abd7eb);
    border-image-slice: 1;
}
.about-page-contact-btn:hover {
    color: #fff;
    cursor: pointer;
}
.about-page-contact-btn:before {
    content: '';
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(45deg, #ffc0cb, #b19cd9, #abd7eb);
}
.about-page-contact-btn:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .about-page-contact-btn {
        background: linear-gradient(45deg, #ffc0cb, #b19cd9, #abd7eb);
    }
}

@media screen and (max-width: 1200px) {
    .about-card-text {
        font-size: 18px;
    }
}








/* Loader CSS */
.loader-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    padding-left: 180px;
}

@media screen and (max-width: 768px) {
    .loader-wrapper {
        padding-left: 0px;
    }
}

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 2px solid rgb(82, 82, 82);
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(to bottom right, #22c1c3, #fdbb2d);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

.ext-links {
    padding: 0;
}
.ext-links .row {
    padding: 0;
}
.ext-link-container {
    position: relative;
    height: 250px;
    padding: 0;
}

#github-link {
    border-bottom: 3px solid #ffc0cb !important;
}
.github-link-btn::before {
    background: #ffc0cb;
}
#instagram-link {
    border-bottom: 3px solid #b19cd9 !important;
}
.instagram-link-btn::before {
    background: #b19cd9;
}
#linkedin-link {
    border-bottom: 3px solid #abd7eb !important;
}

.linkedin-link-btn::before {
    background: #abd7eb;
}

@media screen and (max-width: 768px) {
    #github-link {
        border: 1px solid #ffc0cb;
    }
    #instagram-link {
        border: 1px solid #b19cd9;
    }
    #linkedin-link {
        border: 1px solid #abd7eb;
    }
    .link-btn::before {
        transform: scaleY(1);
    }
    .ext-link-container .link-btn {
        color: white;
    }
}
@media screen and (min-width: 769px) {
    #github-link:hover, #github-link:focus {
        border: 1px solid #ffc0cb;
    }
    #instagram-link:hover, #instagram-link:focus {
        border: 1px solid #b19cd9;
    }
    #linkedin-link:hover, #linkedin-link:focus {
        border: 1px solid #abd7eb;
    }
    .ext-link-container:hover .link-btn, .ext-link-container:focus .link-btn {
        color: white;
    }
    .link-btn::before {
        transition: transform 400ms ease-in-out;
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

.link-img {
    border-radius: 50%;
    width: 70px;
    margin: 10px auto 5px auto;
}

.ext-links .link-text {
    font-weight: normal !important;
    font-size: 15px;
}
.link-btn {
    line-height: 2;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none !important;
    border-radius: 0;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
    color: rgb(206, 206, 206);
}

.link-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.ext-link-container:hover .link-btn::before, .ext-link-container:focus .link-btn::before {
    transform: scaleY(1)
}

.ext-links .link-btn-container {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
}






#contact-form {
    width: 50%;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    #contact-form {
        width: 80%;
    }
}
#contact-form label, #contact-form input,  #contact-form textarea {
    display: block;
}
#contact-form label {
    position: relative;
    color:rgb(104, 104, 104)
}
#contact-form textarea, #contact-form input {
    border-radius: 3px;
    background: #e7e7e7;
    outline: none;
    border: none !important;
    box-shadow: none !important;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#contact-form input {
    height: 45px;
    width: 100%;
    padding: 14px;
}

#contact-form .input-border {
    width: 100%;
    height: calc(100% - 24px);
    position: absolute;
    left: 0;
    top: 24px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 3px;
    pointer-events: none;
}

#contact-form .input-border::before, #contact-form .input-border::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 3px;
}
#contact-form .input-border::before {
    left: 0;
    bottom: 0;
    border-bottom: 0px solid #222222;
    border-right: 0px solid #222222;
}
#contact-form .input-border::after {
    right: 0;
    top: 0;
    border-top: 0px solid #222222;
    border-left: 0px solid #222222;
}

#contact-form input:focus  ~ .input-border:before, 
#contact-form input:focus  ~ .input-border:after,
#contact-form textarea:focus ~ .input-border:before,
#contact-form textarea:focus ~ .input-border:after {
    width: 100%;
    height: 100%;
    border-width: 2px;
}
#contact-form input:focus ~ .input-border:before,
#contact-form textarea:focus ~ .input-border:before {
    transition: 
    width 0.2s ease,
    height 0.1s ease 0.2s;
}
#contact-form input:focus ~ .input-border:after,
#contact-form textarea:focus ~ .input-border:after {
    transition:
    border-width 0s ease 0.3s,
    width 0.2s ease 0.3s,
    height 0.1s ease 0.5s;
}

#contact-form button {
    width: 100px;
}
#contact-form button:active {
    border: 1px solid white;
}
#contact-form button:focus {
    box-shadow: none !important;
}










/* Mobile Selectors */

.mobile-home {
    margin: 0 auto;
    margin-top: 10px;
    width: 105%;
}
.mobile-home-img {
    width: 100%;
    filter: brightness(80%);
}


.mobile-home-text {
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    text-shadow: 0 2px 0 rgb(75, 75, 75);
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    .bottom-bar {
        display: block !important;
        width: 100%;
        height: 70px;
        bottom: 0;
        visibility: hidden;
    }
}